
body{
width: 90%;
padding: 50px;
box-shadow: 0px 0px 150px black, 0px 0px 500px yellow;
margin-left:70px;
margin-right: 100px;
margin-top: 0px;
margin-bottom: 0px;
padding: 0;
}
body *{

}

.borderShadow{
  padding-right: 60px;
  background: white;
}

.header{
  border-top: 3px solid green;
  color:red;
  padding-top: 15px;
  padding-left: 70px;
}
div img{
  border: 1px solid red;
}
p{
  padding-left: 70px;
  font-family: "Arial";
  font-size: 20px;
}
.coloredText{
  color : red;
  font-family: "Arial";
  font-size: normal;
  line-height: 35px;
}
.note{
  border:3px dashed red;
  background: yellow;
  height: 50px;
  width-left: 70%;
  margin-left: 70px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
strong{
  color:  orange;
}